#ovrl-div-ovrl {
					position:fixed;
					width: 100%;
					height: 100%;
					background: white;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 10000;
					display: flex;
					align-items: center;
					justify-content: center;
			}
			#ovrl-div-ovrl > div {
				display: inline-block;
				width: 80px;
				height: 80px;
			}
			#ovrl-div-ovrl > div:after {
				content: " ";
				display: block;
				width: 64px;
				height: 64px;
				margin: 8px;
				border-radius: 50%;
				border: 6px solid #09035d;
				border-color: #09035d transparent #09035d transparent;
				animation: lds-dual-ring 1.2s linear infinite;
			}
			@keyframes lds-dual-ring {
				0% {
					transform: rotate(0deg);
				}
				100% {
					transform: rotate(360deg);
				}
			}
